
*.xcuserstate

soselfie/soselfie.xcodeproj/project.xcworkspace/xcuserdata/tomvankruijsbergen.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xcuserstate

soselfie/soselfie.xcodeproj/project.xcworkspace/xcuserdata/tomvankruijsbergen.xcuserdatad/UserInterfaceState.xcuserstate
