
*.xcuserstate

soselfie/soselfie.xcodeproj/project.xcworkspace/xcuserdata/tomvankruijsbergen.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xcuserstate

soselfie/soselfie.xcodeproj/project.xcworkspace/xcuserdata/tomvankruijsbergen.xcuserdatad/UserInterfaceState.xcuserstate

soselfie/soselfie.xcodeproj/xcuserdata/tyg.xcuserdatad/xcschemes/xcschememanagement.plist

soselfie/soselfie.xcodeproj/xcuserdata/tyg.xcuserdatad/xcschemes/soselfie.xcscheme

*.xccheckout
